* {
	box-sizing: border-box;
}

body {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background: #f5f5f5;
}

h1 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	color: #d51007;
}
